<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/ctm-header.ejs %>
    <title>Character</title>
</head>

<body>

    <div class="container-character">
        <div class="title-character">
            <h2>Chinga tu madre </h2>
            <h1>Kai-Chan</h1>
        </div>
        <div class="container">
            <img src="/assets/images/pruebas/2.jpg" alt="">
            <br>
            <p>
                <button class="button">x1000</button> <br>
                <br>
            <h3>
                Personas que han mandado a CSM a Kai-chan
            </h3>
            <br>
            <h3>
                Haslo tu ahora mismo!
            </h3>
            </p>
        </div>
    </div>
    <div class="container-character">
        <h4>Sobre el personaje</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dicta voluptatibus obcaecati tempora
            maiores perspiciatis totam sequi, quaerat nemo sit. Molestias ducimus exercitationem, fugiat error
            itaque ad culpa, nam accusamus, tempora quibusdam deserunt cupiditate debitis autem? Cumque ratione
            doloremque qui doloribus quo facilis omnis eligendi quae voluptates repellendus? Optio praesentium
            suscipit sapiente quibusdam distinctio consectetur laudantium assumenda veniam minima inventore.</p>
    </div>
    <footer class="footer-main">
        <p>Contacto: <a href="mailto:ctm@gmail.com">ctm@gmail.com</a> </p>
        <p>Autor: Yuta </p>

    </footer>
</body>

</html>