<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/ctm-header.ejs %>
    <title>Viernes de CTM</title>
</head>
<script> </script>
<body>
    <header >
        <div class="flex-container">
            <div class="animate__animated animate__heartBeat">
                <div>
                    <img src="/assets/images/PikPng.com_spongebob-characters-png_2327256.png" alt="">
                </div>
                <div class="h1-size">
                    <h1>Welcome to <b>Viernes</b> </h1>
                    <p>Manda a CSM a quien quieras</p>
                </div>
            </div>
        </div>
    </header>
    <div class="cont-index">
        <div class="Subt">
            <h2> Como utilizarlo? </h2>
        </div>
        <div class="grid-index">
            <div>
                <h3>Cuando agregar nuevos?</h3>
                <p>
                    Los Viernes seran los dias de registros de nuevos personajes, personas, etc.
                </p>
                <a href="./form">Formulario de registro ...</a>
            </div>
            <div>
                <h3>Requisitos</h3>
                <p>
                    Solo se necesita :<br>- foto de referencia <br>- nombre
                </p>
                <a href="https://www.google.com/">Requerimientos ...</a>
            </div>
            <div>
                <h3>Publicacion</h3>
                <p>
                    Las solicitudes pasarán por una aprobación antes de publicarse en la pagina
                </p>
                <a href="https://www.google.com/">Listado de publicaciones ...</a>
            </div>
        </div>
    </div>
    <div class="about">
        <h3>Sobre la pagina</h3>
        <p>
            La pagina nace a base de aquellos personajes odiados en internet 2d. Sabiendo esto, el odio es basado en el
            personaje y todo lo que concierne a el. No se busca dar o incitar el odio real directo a la persona real que
            da vida a los personajes, el fin es para entretenimiento de las personas.
            Si en la pagina hay publicaciones de personas o grupos de personas reales y este hiciera algún daño se puede
            procesar una solicitud de eliminar la publicacion <a href=""> Mas informacion</a>.
        </p>
        <img onmouseover="animate_bitchs(this)" src="/assets/images/t640_844124.png" alt="">
        <img onmouseover="animate_bitchs(this)" src="/assets/images/Kai_Yawara_(anime).png" alt="">
        <img onmouseover="animate_bitchs(this)" src="/assets/images/Malty_(Anime).png" alt="">
        <!-- <p>
            El humor es nuestro estandarte, este no debe ser enfocado en dañar a alguien ya que este es una forma
            distinta de ver las situaciones reales o fictisias asi que si alguien desea censurar o cancelar el humor
        </p> -->
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
                <h3>Abanto</h3>
            </div>
            <div class="slide">
                <h3>Abanto</h3>
            </div>
            <div class="slide">
                <h3>Abrazafarolas</h3>
            </div>
            <div class="slide">
                <h3>Adufe</h3>
            </div>
            <div class="slide">
                <h3>Alcornoque</h3>
            </div>
            <div class="slide">
                <h3>Alfeñique</h3>
            </div>
            <div class="slide">
                <h3>Andurriasmo</h3>
            </div>
            <div class="slide">
                <h3>Arrastracueros</h3>
            </div>
            <div class="slide">
                <h3>Artabán</h3>
            </div>
            <div class="slide">
                <h3>Atarre</h3>
            </div>
            <div class="slide">
                <h3>Baboso</h3>
            </div>
            <div class="slide">
                <h3>Barrabás</h3>
            </div>
            <div class="slide">
                <h3>Barriobajero</h3>
            </div>
            <div class="slide">
                <h3>Bebecharcos</h3>
            </div>
            <div class="slide">
                <h3>Bellaco</h3>
            </div>
            <div class="slide">
                <h3>Belloto</h3>
            </div>
            <div class="slide">
                <h3>Berzotas</h3>
            </div>
            <div class="slide">
                <h3>Besugo</h3>
            </div>
            <div class="slide">
                <h3>Bobalicón</h3>
            </div>
            <div class="slide">
                <h3>Bocabuzón</h3>
            </div>
            <div class="slide">
                <h3>Bocachancla</h3>
            </div>
            <div class="slide">
                <h3>Bocallanta</h3>
            </div>
            <div class="slide">
                <h3>Boquimuelle</h3>
            </div>
            <div class="slide">
                <h3>Borrico</h3>
            </div>
            <div class="slide">
                <h3>Botarate</h3>
            </div>
            <div class="slide">
                <h3>Brasas</h3>
            </div>
            <div class="slide">
                <h3>Cabestro</h3>
            </div>
            <div class="slide">
                <h3>Cabezaalberca</h3>
            </div>
            <div class="slide">
                <h3>Cabezabuque</h3>
            </div>
            <div class="slide">
                <h3>Cachibache</h3>
            </div>
            <div class="slide">
                <h3>Cafre</h3>
            </div>
            <div class="slide">
                <h3>Cagalindes</h3>
            </div>
            <div class="slide">
                <h3>Cagarruta</h3>
            </div>
            <div class="slide">
                <h3>Calambuco</h3>
            </div>
            <div class="slide">
                <h3>Calamidad</h3>
            </div>
            <div class="slide">
                <h3>Caldúo</h3>
            </div>
            <div class="slide">
                <h3>Calientahielos</h3>
            </div>
            <div class="slide">
                <h3>Calzamonas</h3>
            </div>
            <div class="slide">
                <h3>Cansalmas</h3>
            </div>
            <div class="slide">
                <h3>Cantamañanas</h3>
            </div>
            <div class="slide">
                <h3>Capullo</h3>
            </div>
            <div class="slide">
                <h3>Caracaballo</h3>
            </div>
            <div class="slide">
                <h3>Caracartón</h3>
            </div>
            <div class="slide">
                <h3>Caraculo</h3>
            </div>
            <div class="slide">
                <h3>Caraflema</h3>
            </div>
            <div class="slide">
                <h3>Carajaula</h3>
            </div>
            <div class="slide">
                <h3>Carajote</h3>
            </div>
            <div class="slide">
                <h3>Carapapa</h3>
            </div>
            <div class="slide">
                <h3>Carapijo</h3>
            </div>
            <div class="slide">
                <h3>Cazurro</h3>
            </div>
            <div class="slide">
                <h3>Cebollino</h3>
            </div>
            <div class="slide">
                <h3>Cenizo</h3>
            </div>
            <div class="slide">
                <h3>Cenutrio</h3>
            </div>
            <div class="slide">
                <h3>Ceporro</h3>
            </div>
            <div class="slide">
                <h3>Cernícalo</h3>
            </div>
            <div class="slide">
                <h3>Charrán</h3>
            </div>
            <div class="slide">
                <h3>Chiquilicuatre</h3>
            </div>
            <div class="slide">
                <h3>Chirimbaina</h3>
            </div>
            <div class="slide">
                <h3>Chupacables</h3>
            </div>
            <div class="slide">
                <h3>Chupasangre</h3>
            </div>
            <div class="slide">
                <h3>Chupóptero</h3>
            </div>
            <div class="slide">
                <h3>Cierrabares</h3>
            </div>
            <div class="slide">
                <h3>Cipote</h3>
            </div>
            <div class="slide">
                <h3>Comebolsas</h3>
            </div>
            <div class="slide">
                <h3>Comechapas</h3>
            </div>
            <div class="slide">
                <h3>Comeflores</h3>
            </div>
            <div class="slide">
                <h3>Comestacas</h3>
            </div>
            <div class="slide">
                <h3>Cretino</h3>
            </div>
            <div class="slide">
                <h3>Cuerpoescombro</h3>
            </div>
            <div class="slide">
                <h3>Culopollo</h3>
            </div>
            <div class="slide">
                <h3>Descerebrado</h3>
            </div>
            <div class="slide">
                <h3>Desgarracalzas</h3>
            </div>
            <div class="slide">
                <h3>Dondiego</h3>
            </div>
            <div class="slide">
                <h3>Donnadie</h3>
            </div>
            <div class="slide">
                <h3>Echacantos</h3>
            </div>
            <div class="slide">
                <h3>Ejarramantas</h3>
            </div>
            <div class="slide">
                <h3>Energúmeno</h3>
            </div>
            <div class="slide">
                <h3>Esbaratabailes</h3>
            </div>
            <div class="slide">
                <h3>Escolimoso</h3>
            </div>
            <div class="slide">
                <h3>Escornacabras</h3>
            </div>
            <div class="slide">
                <h3>Estulto</h3>
            </div>
            <div class="slide">
                <h3>Fanfosquero</h3>
            </div>
            <div class="slide">
                <h3>Fantoche</h3>
            </div>
            <div class="slide">
                <h3>Fariseo</h3>
            </div>
            <div class="slide">
                <h3>Filimincias</h3>
            </div>
            <div class="slide">
                <h3>Foligoso</h3>
            </div>
            <div class="slide">
                <h3>Fulastre</h3>
            </div>
            <div class="slide">
                <h3>Ganapán</h3>
            </div>
            <div class="slide">
                <h3>Ganapio</h3>
            </div>
            <div class="slide">
                <h3>Gandúl</h3>
            </div>
            <div class="slide">
                <h3>Gañán</h3>
            </div>
            <div class="slide">
                <h3>Gaznápiro</h3>
            </div>
            <div class="slide">
                <h3>Gilipuertas</h3>
            </div>
            <div class="slide">
                <h3>Giraesquinas</h3>
            </div>
            <div class="slide">
                <h3>Gorrino</h3>
            </div>
            <div class="slide">
                <h3>Gorrumino</h3>
            </div>
            <div class="slide">
                <h3>Guitarro</h3>
            </div>
            <div class="slide">
                <h3>Gurriato</h3>
            </div>
            <div class="slide">
                <h3>Habahelá</h3>
            </div>
            <div class="slide">
                <h3>Huelegateras</h3>
            </div>
            <div class="slide">
                <h3>Huevón</h3>
            </div>
            <div class="slide">
                <h3>Lamecharcos</h3>
            </div>
            <div class="slide">
                <h3>Lameculos</h3>
            </div>
            <div class="slide">
                <h3>Lameplatos</h3>
            </div>
            <div class="slide">
                <h3>Lechuguino</h3>
            </div>
            <div class="slide">
                <h3>Lerdo</h3>
            </div>
            <div class="slide">
                <h3>Letrín</h3>
            </div>
            <div class="slide">
                <h3>Lloramigas</h3>
            </div>
            <div class="slide">
                <h3>Longanizas</h3>
            </div>
            <div class="slide">
                <h3>Lumbreras</h3>
            </div>
            <div class="slide">
                <h3>Maganto</h3>
            </div>
            <div class="slide">
                <h3>Majadero</h3>
            </div>
            <div class="slide">
                <h3>Malasangre</h3>
            </div>
            <div class="slide">
                <h3>Malasombra</h3>
            </div>
            <div class="slide">
                <h3>Malparido</h3>
            </div>
            <div class="slide">
                <h3>Mameluco</h3>
            </div>
            <div class="slide">
                <h3>Mamporrero</h3>
            </div>
            <div class="slide">
                <h3>Manegueta</h3>
            </div>
            <div class="slide">
                <h3>Mangarrán</h3>
            </div>
            <div class="slide">
                <h3>Mangurrián</h3>
            </div>
            <div class="slide">
                <h3>Mastuerzo</h3>
            </div>
            <div class="slide">
                <h3>Matacandiles</h3>
            </div>
            <div class="slide">
                <h3>Meapilas</h3>
            </div>
            <div class="slide">
                <h3>Melón</h3>
            </div>
            <div class="slide">
                <h3>Mendrugo</h3>
            </div>
            <div class="slide">
                <h3>Mentecato</h3>
            </div>
            <div class="slide">
                <h3>Mequetrefe</h3>
            </div>
            <div class="slide">
                <h3>Merluzo</h3>
            </div>
            <div class="slide">
                <h3>Metemuertos</h3>
            </div>
            <div class="slide">
                <h3>Metijaco</h3>
            </div>
            <div class="slide">
                <h3>Mindundi</h3>
            </div>
            <div class="slide">
                <h3>Morlaco</h3>
            </div>
            <div class="slide">
                <h3>Morroestufa</h3>
            </div>
            <div class="slide">
                <h3>Muerdesartenes</h3>
            </div>
            <div class="slide">
                <h3>Orate</h3>
            </div>
            <div class="slide">
                <h3>Ovejo</h3>
            </div>
            <div class="slide">
                <h3>Pagafantas</h3>
            </div>
            <div class="slide">
                <h3>Palurdo</h3>
            </div>
            <div class="slide">
                <h3>Pamplinas</h3>
            </div>
            <div class="slide">
                <h3>Panarra</h3>
            </div>
            <div class="slide">
                <h3>Panoli</h3>
            </div>
            <div class="slide">
                <h3>Papafrita</h3>
            </div>
            <div class="slide">
                <h3>Papanatas</h3>
            </div>
            <div class="slide">
                <h3>Papirote</h3>
            </div>
            <div class="slide">
                <h3>Paquete</h3>
            </div>
            <div class="slide">
                <h3>Pardillo</h3>
            </div>
            <div class="slide">
                <h3>Parguela</h3>
            </div>
            <div class="slide">
                <h3>Pasmarote</h3>
            </div>
            <div class="slide">
                <h3>Pasmasuegras</h3>
            </div>
            <div class="slide">
                <h3>Pataliebre</h3>
            </div>
            <div class="slide">
                <h3>Patán</h3>
            </div>
            <div class="slide">
                <h3>Pavitonto</h3>
            </div>
            <div class="slide">
                <h3>Pazguato</h3>
            </div>
            <div class="slide">
                <h3>Pecholata</h3>
            </div>
            <div class="slide">
                <h3>Pedorro</h3>
            </div>
            <div class="slide">
                <h3>Peinabombillas</h3>
            </div>
            <div class="slide">
                <h3>Peinaovejas</h3>
            </div>
            <div class="slide">
                <h3>Pelagallos</h3>
            </div>
            <div class="slide">
                <h3>Pelagambas</h3>
            </div>
            <div class="slide">
                <h3>Pelagatos</h3>
            </div>
            <div class="slide">
                <h3>Pelatigres</h3>
            </div>
            <div class="slide">
                <h3>Pelazarzas</h3>
            </div>
            <div class="slide">
                <h3>Pelele</h3>
            </div>
            <div class="slide">
                <h3>Pelma</h3>
            </div>
            <div class="slide">
                <h3>Percebe</h3>
            </div>
            <div class="slide">
                <h3>Perrocostra</h3>
            </div>
            <div class="slide">
                <h3>Perroflauta</h3>
            </div>
            <div class="slide">
                <h3>Peterete</h3>
            </div>
            <div class="slide">
                <h3>Petimetre</h3>
            </div>
            <div class="slide">
                <h3>Picapleitos</h3>
            </div>
            <div class="slide">
                <h3>Pichabrava</h3>
            </div>
            <div class="slide">
                <h3>Pillavispas</h3>
            </div>
            <div class="slide">
                <h3>Piltrafa</h3>
            </div>
            <div class="slide">
                <h3>Pinchauvas</h3>
            </div>
            <div class="slide">
                <h3>Pintamonas</h3>
            </div>
            <div class="slide">
                <h3>Piojoso</h3>
            </div>
            <div class="slide">
                <h3>Pitañoso</h3>
            </div>
            <div class="slide">
                <h3>Pitofloro</h3>
            </div>
            <div class="slide">
                <h3>Plomo</h3>
            </div>
            <div class="slide">
                <h3>Pocasluces</h3>
            </div>
            <div class="slide">
                <h3>Pollopera</h3>
            </div>
            <div class="slide">
                <h3>Quitahipos</h3>
            </div>
            <div class="slide">
                <h3>Rastrapajo</h3>
            </div>
            <div class="slide">
                <h3>Rebañasandías</h3>
            </div>
            <div class="slide">
                <h3>Revientabaules</h3>
            </div>
            <div class="slide">
                <h3>Ríeleches</h3>
            </div>
            <div class="slide">
                <h3>Robaperas</h3>
            </div>
            <div class="slide">
                <h3>Sabandija</h3>
            </div>
            <div class="slide">
                <h3>Sacamuelas</h3>
            </div>
            <div class="slide">
                <h3>Sanguijuela</h3>
            </div>
            <div class="slide">
                <h3>Sinentraero</h3>
            </div>
            <div class="slide">
                <h3>Sinsustancia</h3>
            </div>
            <div class="slide">
                <h3>Sonajas</h3>
            </div>
            <div class="slide">
                <h3>Sonso</h3>
            </div>
            <div class="slide">
                <h3>Soplagaitas</h3>
            </div>
            <div class="slide">
                <h3>Soplaguindas</h3>
            </div>
            <div class="slide">
                <h3>Sosco</h3>
            </div>
            <div class="slide">
                <h3>Tagarote</h3>
            </div>
            <div class="slide">
                <h3>Tarado</h3>
            </div>
            <div class="slide">
                <h3>Tarugo</h3>
            </div>
            <div class="slide">
                <h3>Tiralevitas</h3>
            </div>
            <div class="slide">
                <h3>Tocapelotas</h3>
            </div>
            <div class="slide">
                <h3>Tocho</h3>
            </div>
            <div class="slide">
                <h3>Tolai</h3>
            </div>
            <div class="slide">
                <h3>Tontaco</h3>
            </div>
            <div class="slide">
                <h3>Tontucio</h3>
            </div>
            <div class="slide">
                <h3>Tordo</h3>
            </div>
            <div class="slide">
                <h3>Tragaldabas</h3>
            </div>
            <div class="slide">
                <h3>Tuercebotas</h3>
            </div>
            <div class="slide">
                <h3>Tunante</h3>
            </div>
            <div class="slide">
                <h3>Zamacuco</h3>
            </div>
            <div class="slide">
                <h3>Zambombo</h3>
            </div>
            <div class="slide">
                <h3>Zampabollos</h3>
            </div>
            <div class="slide">
                <h3>Zamugo</h3>
            </div>
            <div class="slide">
                <h3>Zángano</h3>
            </div>
            <div class="slide">
                <h3>Zarrapastroso</h3>
            </div>
            <div class="slide">
                <h3>Zascandil</h3>
            </div>
            <div class="slide">
                <h3>Zopenco</h3>
            </div>
            <div class="slide">
                <h3>Zoquete</h3>
            </div>
            <div class="slide">
                <h3>Zote</h3>
            </div>
            <div class="slide">
                <h3>Zullenco</h3>
            </div>
            <div class="slide">
                <h3>Zurcefrenillos</h3>
            </div>
        </div>
    </div>
    <div class="ctmdefinicion">
        <h2>Sobre el lenguaje coloquial taco</h2>
        <div class="grid-index">
            <div>
                <h4>Chinga tu madre</h4><br>
                <p><b>Sinomimos para entenderlo mejor :</b></p><br>
                <p>jódete, que te den por el culo, que te follen, que te jodan, ándate a la chucha</p>
            </div>
            <div>
                <h4>Otras maneras de decirlo</h4>
                <ul>
                    <li>
                        Chinga tu madre
                    </li>
                    <li>
                        Chingas a tu madre
                    </li>
                    <li>
                        Vete a chingar a tu madre
                    </li>
                    <li>
                        Vas y chingas a tu madre
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer-main">
        <p>Contacto: <a href="mailto:ctm@gmail.com">ctm@gmail.com</a> </p>
        <p>Autor: Yuta </p>

    </footer>
    <script>
        function animate_bitchs(bitch){
            const element = bitch;
            element.classList.add('animate__animated', 'animate__bounce');
            element.addEventListener('animationend', () => {
                element.classList.remove('animate__animated', 'animate__bounce');
            });
        }
    </script>
</body>

</html>